---
layout: default
title: prestations
description: |-
  Prestation décoration et feng shui à Bordeaux : coaching déco, coaching express, conseil Feng Shui, rénovation, aménagement, home staging, etc.
---

<h1 class="text-center mt-8 mb-12">Prestations</h1>

<div class="flex flex-col gap-12 pb-16">
  <section>
    <div class="bg-blue-50 rounded-lg p-8 flex flex-col gap-4">
      <h2 class="text-2xl">Votre première consultation gratuite de 30 minutes!</h2>
      <p>
        Vous avez un projet de décoration, d'aménagement ou de rénovation? Vous souhaitez en savoir plus sur le Feng Shui et ses bienfaits? Vous avez besoin d'un conseil déco pour votre intérieur?
      </p>

      <button class="btn btn-primary self-end" data-action="click->crisp-chat#show">Je réserve un créneau</button>
    </div>
  </section>

  <section>
    <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-12 md:gap-8 lg:gap-16 items-start">
      <% collections.prestations.resources.each do |prestation| %>
        <span class="flex flex-col justify-between h-full">
          <div class="flex flex-col items-center w-full gap-4">
            <div class="flex items-center w-full gap-4">
              <%= svg "images/icons/#{prestation.data.icon}", class: "h-6 text-primary" if prestation.data.icon %>
              <h2 class="text-2xl"><%= prestation.data.title %></h2>
            </div>
            <span class="my-2 text-gray">
              <%= prestation.data.description %>
            </span>
          </div>

          <div class="flex items-center justify-between">
            <span class="text-primary text-xl font-semibold my-2">
              <%= prestation.data.price %>
            </span>

            <% if prestation.data.cta_link %>
              <button class="btn btn-primary self-end" href="<%= prestation.data.cta_link %>">
                <%= prestation.data.cta_text %>
              </button>
            <% end %>

            <% if prestation.data.know_more %>
              <button class="btn btn-primary self-end" data-action="click->crisp-chat#show">En savoir plus</button>
            <% end %>
          </div>
        </span>
      <% end %>
    </div>
  </section>
</div>
