
<nav class="hidden w-full grid-cols-[1fr_max-content_1fr] gap-8 py-4 sm:grid lg:gap-12 text-xl text-gray">
  <div class="flex items-center justify-end gap-8 lg:gap-12">
    <a href="<%= relative_url '/prestations' %>">Presations</a>
    <%= link_to "Réalisations", "/projects" %>

  </div>
  <a href="<%= relative_url '/' %>">
    <%= render Logo.new class: "h-32 fill-primary" %>
  </a>
  <div class="flex items-center justify-start gap-8 lg:gap-12">
    <a href="<%= relative_url '/a-propos' %>">À propos</a>
    <a href="<%= relative_url '/contact' %>">Contact</a>
  </div>
</nav>


<nav class="relative flex h-full w-full items-center justify-between gap-4 p-4 sm:hidden">
    <a href="/" class="flex gap-4 items-center">
      <%= svg "images/cat.svg", class: "h-10 fill-primary", alt: "maneki-neko le chat qui apporte prospérité et bonheur" %>
      <div class="text-xl text-primary font-semibold">Géraldine POLY</div>
    </a>
  <details class="inline-block text-left">
    <summary class="list-none" aria-haspopup="menu" role="button">
      <div class="burger">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
    </summary>

    <details-menu
      role="menu"
      class="absolute left-0 mt-4 w-screen bg-white py-8 shadow transition duration-1000 focus:outline-none"
    >
      <div class="flex h-full flex-col items-center justify-center gap-8 sm:justify-between" role="none">
        <%= link_to "Prestations", "/prestations" %>
        <%= link_to "Réalisations", "/projects" %>
        <%= link_to "À propos", "/a-propos" %>
        <%= link_to "Contact", "/contact" %>
      </div>
    </details-menu>
  </details>
</nav>
