---
layout: project
title: "Chambre d'enfant Bordeaux"
image_id: tom/GP-Surf-8261_FA
---

<div class="flex flex-col gap-4 mt-4">
  <div class="text-gray">Métamorphose complète pour cette chambre d'enfant. Les placards à portes coulissantes ont été transformés pour offrir une partie ouverte au-dessus du lit et de belles portes. Le papier peint, d'inspiration forêt enchantée, aux couleurs pastel et aux illustrations douces, a immédiatement insufflé de la vie à la pièce.</div>
  <div class="flex md:grid-cols-2 gap-4">
    <%= render CloudinaryImage.new(image_id: "chambre/avant_après_chambre", width: 1200, height: 600) %>
  </div>

  <%= render CloudinaryImage.new(image_id: "tom/GP-Surf-8261_FA", width: 1200, shadow: true) %>

  <div class="flex gap-4">
    <%= render CloudinaryImage.new(image_id: "tom/GP-Surf-8264_FA", height: 800, width: 600, shadow: true) %>
    <%= render CloudinaryImage.new(image_id: "chambre/papier_peint", height: 800, width: 600, shadow: true) %>
  </div>

  <div class="flex justify-center gap-4">
    <%= render CloudinaryImage.new(image_id: "chambre/poignees", width: 600, height: 600, shadow: true) %>
    <%= render CloudinaryImage.new(image_id: "chambre/bibliotheque", width: 600, height: 600, shadow: true) %>
  </div>
</div>



