---
layout: project
title: "Une bibliothéque heureuse"
categories: updates
image_id: bibliotheque/bibliotheque-plum-living-string
---

<div class="flex flex-col gap-4">
  <div class="flex md:grid-cols-2 gap-4">
    <%= render CloudinaryImage.new(image_id: "bibliotheque/avant-apres-bibliotheque-heureuse-2", width: 1200, height: 600) %>
  </div>

  <div class="text-gray mt-4">La Bibliothèque heureuse" est le nom que j'ai donné à ce récent projet, qui avait pour but de relooker une bibliothèque existante en un espace plus actuel et accueillant. Le brief était assez clair : il fallait une bibliothèque qui puisse servir à la fois de vitrine pour des objets collectés au fil du temps et des voyages, et aussi comme espace de rangement plus discret pour les documents et objets moins présentables.</div>

  <h2 class="mt-8">Rendu</h2>
  <%= render CloudinaryImage.new(image_id: "bibliotheque/bibliotheque-plum-living-string", width: 1200, shadow: true) %>
  <%= render CloudinaryImage.new(image_id: "bibliotheque/bibliotheque-close-up-1", width: 1200, shadow: true) %>
  <%= render CloudinaryImage.new(image_id: "bibliotheque/bibliotheque-close-up-2", width: 1200, shadow: true) %>

  <h2 class="mt-8">Les coulisses</h2>

  <div class="text-gray mt-4">Pour apporter une ambiance agréable et un peu bucolique à la bibliothèque, j'ai choisi un papier peint panoramique "Joie". Ce choix contribue à établir une atmosphère qui invite à la détente et à la lecture.</div>
  <div class="text-gray mt-4">Pour la partie ouverte de la bibliothèque, j'ai opté pour les étagères String. Ces étagères sont bien connues pour leur design simple mais efficace, et elles offrent un bon équilibre entre fonctionnalité et esthétique. Elles sont idéales pour mettre en valeur les objets de collection tout en conservant un look épuré et moderne.</div>
  <div class="text-gray mt-4">Pour la partie fermée, j'ai choisi un meuble suspendu équipé de façades Plum. Ce meuble permet de masquer les documents et autres articles moins esthétiques sans alourdir l'espace visuellement.</div>

  <%= render CloudinaryImage.new(image_id: "bibliotheque/bibliotheque-make-up", width: 1200, shadow: true) %>
  <div class="flex gap-4">
    <%= render CloudinaryImage.new(image_id: "bibliotheque/bibliotheque-make-up-4", height: 800, width: 600, shadow: true) %>
    <%= render CloudinaryImage.new(image_id: "bibliotheque/bibliotheque-make-up-2", height: 800, width: 600, shadow: true) %>
  </div>
</div>
